.view-bar {
	position: relative;
	width: 100%;
	height: 6rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	border-bottom: 1px var(--color-border-light) solid;
	// background-color: var(--color-background-light);
	span {
		font-size: 2rem;
		line-height: 1.8rem;
	}
}
.category-actions {
	width: auto;
	height: auto;

	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	width: auto;
	height: auto;
}

.view-questions {
	position: relative;
	width: 100%;
	height: 6rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	border-bottom: 1px var(--color-border-light) solid;
	// background-color: var(--color-background-light);
}

.question-btn {
	width: auto;
	height: auto;
	padding: 0.2rem 0.5rem;
	margin: 0 0.8rem;
	border: 1px black solid;
	border-radius: 5%;
	span {
		font-size: 1.1rem;
	}
	&:hover {
		color: white;
		background-color: black;
	}
	&:active {
		color: white;
		background-color: black;
	}
}

.question-btn-selected {
	width: auto;
	height: auto;
	padding: 0.2rem 0.5rem;
	margin: 0 0.8rem;
	border: 1px black solid;
	border-radius: 5%;
	color: white;
	background-color: black;
}

.rename-category-btn {
	width: auto;
	height: auto;
	margin: 0 1rem;
	border-bottom: 1px black solid;
	transform: translateY(0.3rem);
	span {
		font-size: 1rem;
		font-weight: 400;
	}
}

.delete-category-btn {
	position: absolute;
	right: 0;
	width: auto;
	height: auto;

	border-bottom: 1px black solid;

	span {
		font-size: 1rem;
		font-weight: 400;
	}
	// span:hover {
	// 	font-weight: 600;
	// }
}
