.view-bar {
	position: relative;
	width: 100%;
	height: 6rem;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	border-bottom: 1px var(--color-border-light) solid;
	// background-color: var(--color-background-light);
	span {
		font-size: 1.8rem;
	}
}
.view-btn {
	position: absolute;
	right: 0rem;
}
