.button {
	max-width: 10rem;
	border: 0.01rem black solid;
	border-radius: 5%;
	font-size: 1.4rem;
	color: black;
	padding: 0.4rem 1.6rem;
	text-align: center;
	&:hover {
		color: white;
		background-color: black;
	}
}
