.button {
	position: absolute;
	right: 0;
	max-width: 18rem;
	height: 1.4rem;
	padding: 0.6rem 1.4rem;
	margin: 0.4rem 0rem;
	border-radius: 5%;
	border: 0.01rem black solid;
	font-size: 1.1rem;
	color: black;

	text-align: center;
	background-color: var(--color-background-light);
	cursor: pointer;
	&:hover {
		color: black;
		background-color: #ebf745;
		border: 0.01rem #ebf745 solid;
	}
	@media screen and (max-width: 550px) {
		max-width: 12rem;
		height: 1.4rem;
		padding: 0.6rem 0.8rem;
		margin: 0.2rem 0rem;
		font-size: 1rem;
	}
}
