.category-btn {
	max-width: 18rem;
	height: 1.4rem;
	padding: 0.6rem 1.4rem;
	margin: 0.4rem 0.4rem;
	border-radius: 5%;
	cursor: pointer;
	// background-color: #ebf745;
	span {
		font-size: 1.1rem;
		color: black;
	}
	&:hover {
		color: black;
		background-color: #14f76a;
		span {
			color: white;
		}
	}
	&:active {
		color: white;
		background-color: black;
	}
}

.category-btn-selected {
	max-width: 18rem;
	height: 1.4rem;
	padding: 0.6rem 1.4rem;
	margin: 0.4rem 0.4rem;
	border-radius: 5%;
	color: white;
	background-color: black;
	cursor: pointer;
	span {
		font-size: 1.1rem;
	}
}
