.category-btn {
	max-width: 18rem;
	height: 1.6rem;
	padding: 0.2rem 0.4rem;
	margin: 0.4rem 0.4rem;
	border: 1px black solid;
	border-radius: 08%;
	span {
		font-size: 1rem;
	}
	&:hover {
		color: white;
		background-color: black;
	}
	&:active {
		color: white;
		background-color: black;
	}
}

.category-btn-selected {
	max-width: 18rem;
	height: 1.6rem;
	padding: 0.2rem 0.4rem;
	margin: 0.4rem 0.4rem;
	border: 1px black solid;
	border-radius: 5%;
	color: white;
	background-color: black;
}
