.option {
	width: 100%;
	height: 6rem;
	display: flex;
	flex-direction: nowrap;
	align-items: center;

	label {
		width: 10rem;
		font-size: 1.6rem;
		margin-right: 0.2rem;
	}
	input {
		width: 80%;
		font-size: 1.6rem;
		//Styling
		border: none;
		outline: none;
		overflow: scroll;
		background-color: var(--color-background-light);
		&::placeholder {
			color: var(--color-text-light);
		}
		// transform: translateY(0.2rem);
	}
}
