.App {
	display: grid;
	grid-template-columns: auto 90rem auto;

	@media screen and (max-width: 1000px) {
		grid-template-columns: auto 80rem auto;
	}
	@media screen and (max-width: 900px) {
		grid-template-columns: auto 70rem auto;
	}
	@media screen and (max-width: 800px) {
		grid-template-columns: auto 50rem auto;
	}
	@media screen and (max-width: 500px) {
		grid-template-columns: auto 42rem auto;
	}
	@media screen and (max-width: 400px) {
		grid-template-columns: auto 35rem auto;
	}
}

svg:hover {
	transform: scale(1.3);
}
