:root {
    --color-border-light: rgb(244, 244, 244);

    /* Text */
    --color-text-light: rgb(207, 207, 207);

    /* Background */
    --color-background-light:rgb(236, 236, 236);

   }

html {
    font-size: 62.5%; /* --> equivalent to 10px  */
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background-color: var(--color-background-light);

}

