:root {
    --color-border-light: #9e9d9d10;

    /* Text */
    --color-text-light: rgb(207, 207, 207);

    /* Background */
    --color-background-light:rgba(255, 255, 255, 0.151);

   }

html {
    font-size: 62.5%; /* --> equivalent to 10px  */
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    /* background-color: var(--color-background-light); */
    background: rgb(247,247,247);
    background: radial-gradient(circle, rgba(247,247,247,1) 10%, rgba(245,245,245,1) 96%);
}

