:root {

    /* Colors */
    --color-yellow: #ebf745;
    --color-green: #14f76a;
    /* Text */
    --color-text-light: rgb(165, 165, 165);
    --color-text-dark: rgb(39, 39, 43);
    /* Borders */
    --color-border-light: #9e9d9d10;
    /* Patterns */
    --color-patterns: rgb(39, 39, 43);
    /* Background */
    --color-background-light:rgba(255, 255, 255, 0.151);

   }

html {
    font-size: 62.5%; /* --> equivalent to 10px  */
}

body {
    font-family: 'Nunito', Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: rgb(255, 255, 255);
    /* background: radial-gradient(circle, rgb(255, 255, 255) 99%, rgb(255, 255, 255) 99%); */
}

